---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
    title="Sobre mí"
    description="Estudiante de Ingeniería Informática y apasionado de la ciberseguridad."
    pubDate={new Date('April 25 2026')}
    heroImage={AboutHeroImage}
>
    <p>
        ¡Hola! Soy un estudiante de <strong>Ingeniería Informática en la Universidad de Zaragoza</strong>, 
        cursando la rama de Tecnologías de la Información, con un objetivo claro: especializarme en 
        el mundo de la <strong>ciberseguridad</strong>.
    </p>

    <p>
        Desde que empecé la carrera, siempre he sentido curiosidad por ir más allá del código. 
        No solo me interesa saber cómo construir software, sino comprender cómo se comunican las redes, 
        cómo se estructuran los sistemas operativos y, lo más importante, cómo identificar sus 
        puntos débiles para protegerlos.
    </p>

    <h3>¿Qué hago actualmente?</h3>
    <p>
        Compagino mis estudios en Unizar con el aprendizaje autodidacta en seguridad ofensiva y defensiva. 
        Paso mi tiempo libre:
    </p>
    <ul>
        <li>Resolviendo máquinas en plataformas como <strong>HackTheBox</strong> y TryHackMe.</li>
        <li>Documentando mis procesos técnicos.</li>
		<li>Realizando mis propios proyectos relacionados con el cloud computing</li>
    </ul>

    <h3>Mi stack de herramientas</h3>
    <p>
        Aunque siempre estoy aprendiendo cosas nuevas, estas son las tecnologías con las que me muevo:
    </p>
    <ul>
        <li><strong>Sistemas:</strong> GNU/Linux (Kali/Parrot), Windows, Bash scripting.</li>
        <li><strong>Lenguajes:</strong> Python (ideal para automatizar tareas), C/C++, Java.</li>
        <li><strong>Herramientas de seguridad:</strong> Nmap, Burp Suite, Metasploit, Wireshark.</li>
    </ul>

    <h3> Otros interes</h3>
    <p>
        He probado tecnologias relacionas con la web 3.0, concretamente la creacion de smart contracts y sus posibles vulnerabilidades.
    </p>
</Layout>